<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ThirtyNine</title>
    <style>
        #user_info{
            text-align:center;
        }
    </style>
</head>
<body>
    <div id="user_info">
        <br><br><br>
        <a th:text="${user.name}" style ="font-size:400%">username</a>
        <a style ="font-size:150%">&nbsp;&nbsp;&nbsp;id:[[${user.id}]]&nbsp;&nbsp;lv:[[${user.level}]]</a>
        <br><br><br><br><br><br>
        <form action="/user/editDone">
            <textarea placeholder="Describe yourself" name="description" cols="50" rows="10" style="font-size:200%;  text-align:center">[[${user.description}]]</textarea>
            <br>
            <input type="submit" value="submit" style="font-size:150%;"/>
        </form>
    </div>
</body>
</html>